<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carrybot.server">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.WaitingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.OrdersActivity"
            android:label="@string/orders_title"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.ClientListActivity"
            android:label="@string/clientlist_title" />

        <activity
            android:name=".activities.BluetoothListActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".activities.AboutCarrybotActivity"
            android:label="@string/action_about" />

        <activity
            android:name=".activities.ManualControlActivity"
            android:label="@string/action_manual" />

        <service
            android:name=".services.MessagingService"
            android:enabled="true"
            android:exported="true"
            android:permission="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.carrybot.server.services.MessagingService.ACTION_TOKEN_REQUEST" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_order_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>